<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="20" name="Test">

		<groups>
			<run>
				<include name="Test" />
			</run>
		</groups>

		<classes>
			<class name="com.FlipkartProject.Tests.LoginTest" />
			<class name="com.FlipkartProject.Tests.GroceryTest" />
			<class name="com.FlipkartProject.Tests.ElectronicsTest" />
			<class name="com.FlipkartProject.Tests.FashionTest" />
			<class name="com.FlipkartProject.Tests.PageNavigationTest" />
			<class name="com.FlipkartProject.Tests.ProductSpecificationTest" />
			<class name="com.FlipkartProject.Tests.MyOrdersTest" />
			<class name="com.FlipkartProject.Tests.MyProfileTest" />
			<class name="com.FlipkartProject.Tests.AddToCartTest" />
			<class name="com.FlipkartProject.Tests.FiltersTest" />
			<class name="com.FlipkartProject.Tests.SearchProductTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
